bundle/bash-support.vim
bundle/ctrlp.vim
bundle/delimitmate
bundle/indenthtml.vim
bundle/indentline
bundle/junos.vim
bundle/nerdtree
bundle/powerline
bundle/puppet-vim
bundle/pydiction
bundle/python-mode
bundle/SimpylFold
bundle/SimpylFold
bundle/syntastic
bundle/tlib_vim
bundle/vim-*
bundle/YouCompleteMe
swap
